*{
    margin: 0%;
    padding: 0%;
}
.nav-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    border-bottom: 3px solid grey;
}
.image{
    margin-left: 80px;
}
.navbar-nav{
    margin-right: 50px;
}
