*{
    margin: 0%;
    padding: 0%;
}
.nav-link{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    border-bottom: 3px solid grey;
}
.image{
    margin-left: 80px;
}
.navbar-nav{
    margin-right: 50px;
}
footer{
    background-color: black;
    margin: 50px 0px 0px 0px;
}
footer > p{
    color: white;
    text-align: center;
}
.boat{
    margin-left: 1200px;
    animation-name: boatmove;
    animation-duration: 108s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: 0.8s;
}
@keyframes boatmove{
    0%{
        margin-left: 1275px;
    }
    100%{
        margin-left: -1800px;
    }
}
.nav-link:hover{
    background-image: linear-gradient(red,green);
    color: white !important;
    border: 1px solid rgb(57, 14, 14);
    border-bottom: 3px solid rgb(40, 88, 40);
    transition: 0.8s;
}
.kerala{
    margin-left: 630px;
}
#wayanad{
    margin-left: 350px;
    margin-right: 350px;
}
.card > .key > a{
    text-decoration: none;
    color: red;
}
.tvmintro > h1{
    text-shadow: 5px 3px grey;
    text-decoration: overline underline;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 80px;
}
.tvmintro > img{
    margin-left: 390px;
    margin-right: 390px;
    margin-bottom: 80px;
}
.tvmintro > p{
    text-align: center;
    margin: 10px 200px 80px 200px;
}
.login{
    background-image: linear-gradient(to bottom right,rgb(102, 99, 99),white,rgb(175, 171, 171),grey);
    margin: 80px 450px 80px 450px;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    border: 1px solid black;
}
#login{
    background-color: black;
    font-size: 17px;
    width: 100%;
    border: 1px solid black;
}
#login:hover{
    background-color: grey;
    color: black !important;
    transition: 0.5s;
}

.login > .label > .input{
    border: 2px solid black;
    border-right: 4px solid grey;
    border-bottom: 4px solid grey;
}
.login > .label > .entry{
    font-size: 20px;
}
.login > h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.signup{
    background-image: linear-gradient(to bottom right,rgb(102, 99, 99),white,rgb(175, 171, 171),grey);
    margin: 80px 350px 80px 350px;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    border: 1px solid black;
}
.signup > h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.signup > .cat{
    margin-top: 10px;
    margin-bottom: 10px;
}
.signup > .button > .btn{
    background-color: black;
    font-size: 17px;
    width: 100%;
    border: 1px solid black;
}
.signup > .button > .btn:hover{
    background-color: grey;
    color: black !important;
    transition: 0.5s;
}
.form-label{
    font-size: 20px;
}
.signup > .cat > .form-control{
    border: 2px solid black;
    border-right: 4px solid grey;
    border-bottom: 4px solid grey;
}
.signup > .cat > .input-group > .form-control{
    border: 2px solid black;
    border-right: 4px solid grey;
    border-bottom: 4px solid grey;
}
.signup > .cat > .form-select{
    border: 2px solid black;
    border-right: 4px solid grey;
    border-bottom: 4px solid grey;
}
.signup > .checker > .form-check > .form-check-input{
    border: 2px solid black;
    border-right: 4px solid grey;
    border-bottom: 4px solid grey;
}
.dis > .btn{
    margin-top: 40px;
    background-image: linear-gradient(to bottom right,red,rgb(219, 135, 135),rgb(137, 214, 137),green);
}
.dis > .btn > a{
    text-decoration: none;
    color: rgb(3, 50, 3);
}
.dis > h1{
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
}
.tvmta > h1{
    text-shadow: 5px 3px grey;
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
}
.tvmta > .tourist > h2{
    text-decoration: overline underline;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}
.districts{
    background-image: linear-gradient(to bottom right,rgb(102, 99, 99),white,white,rgb(175, 171, 171),grey); 
}